@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

@font-face {
    font-family: "shakespeare";
    src: url("./assets/shakespeare.ttf");
    font-family: "notMyType";
    src: url("./assets/notMyType.otf");
}

/* adds text animation -nate */
@keyframes glitch {

    2%,
    64% {
        transform: translate(5px, 0) skew(1deg);
    }

    4%,
    60% {
        transform: translate(-5px, 1) skew(4deg);
    }

    62% {
        transform: translate(2px, 0) skew(8deg);
    }
}

:root {
    --text-primary: #000;
    --bgPrimary: #fff;
    --bgSecondary: #F9F9F9;
    --pink: #0071bd;
    --light-blue: #e6f7ff;
    --border: #d9d9d9;
}

html,
body {
    box-sizing: border-box;
    overflow-x: hidden;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.anim {
    width: 100vw;
    height: 100vh;
    background-color: black;
}

a:hover {
    color: var(--pink) !important;
}

.app {
    display: flex;
    overflow: hidden;
}

::-webkit-scrollbar {
    display: none;
}

.loader {
    height: 81vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    height: var(--nav-size);
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.897);
    padding: 0.5rem;
    margin-bottom: 0rem;
    border-bottom: var(--border);
}

.navbar-nav {
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.nav-item {
    width: calc(var(--nav-size) * 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-button {
    --button-size: calc(var(--nav-size) * 0.5);
    width: 30px;
    height: 31px;
    background-color: #484a4d;
    border-radius: 50%;
    padding: 5px;
    margin: 2px;
    align-content: center;
    justify-content: center;
    transition: filter 300ms;
}

.icon-button:hover {
    filter: brightness(1.2);
}

.icon-button svg {
    fill: var(--text-color);
    width: 20px;
    height: 20px;
}

/* Dropdown Menu */

.dropdown {
    position: absolute;
    top: 58px;
    width: 300px;
    z-index: 999;

    /* Translate X just means to move along the X axis 45% */
    transform: translateX(-45%);
    backdrop-filter: blur(10px);
    background-color: #252525;
    border: 1px solid black;
    border-radius: 10px;
    padding: 1rem;
    overflow: hidden;
}

.menu-item {
    height: 50px;
    color: white;
    gap: 5px;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    transition: color var(--speed);
    padding: 0.2rem;
}

.menu-item:hover {
    filter: brightness(1.2);
    cursor: pointer;
}

.icon-right {
    margin-left: auto;
}

.menu-primary-enter {
    position: absolute;
    transform: translateX(-110%);
}

.menu-primary-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
}

.menu-primary-exit {
    position: absolute;
}

.menu-primary-exit-active {
    transform: translateX(-110%);
    transition: all var(--speed) ease;
}

.menu-secondary-enter {
    transform: translateX(110%);
}

.menu-secondary-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
}

.menu-secondary-exit {
}

.menu-secondary-exit-active {
    transform: translateX(110%);
    transition: all var(--speed) ease;
}